---
import BaseLayout from "../layouts/BaseLayout.astro";
import Drafts from "../components/Drafts.astro";
// import Hero from "../components/Hero.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout />

<section class="features">
  <div class="features-header">
    <h2>Kadence Simplifies The <br /> Web Design Process</h2>
    <p>
      Say goodbye to bloated themes, clunky plugins, and limited customization
      options foerever.
    </p>
  </div>

  <div class="features-card">
    <div class="features-grid">
      <!-- imgs -->
      <div class="features-images">
        <img
          src="/src/assets/homepage-test.webp"
          class="feature-img"
          alt="preview"
        />
      </div>

      <!-- txt -->
      <div class="features-text">
        <div class="feature">
          <h3>Lightning-Fast Performance</h3>
          <p>
            Our products have effiecient, clean code that ensures quick loading
            times and smooth performance across all devices types.
          </p>
        </div>

        <div class="feature">
          <h3>Easy to use</h3>
          <p>
            With Kadence Blocks, you can create complex layouts and stylish
            elements directly to the Gutenberg editor.
          </p>
        </div>

        <div class="feature">
          <h3>Endless Customization</h3>
          <p>
            Form advanced header and footer builders to extensive color and font
            settings, Kadence allows for deep customization without the need for
            custom coding.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="first-testimonial">
	<!-- las comillas -->
	<svg width="120" height="120" viewBox="0 0 8 8" fill="currentColor" color="#f1f3f6" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"> <path d="M3 0c-1.65 0-3 1.35-3 3v3h3v-3h-2c0-1.11.89-2 2-2v-1zm5 0c-1.65 0-3 1.35-3 3v3h3v-3h-2c0-1.11.89-2 2-2v-1z" transform="translate(0 1)"></path></svg>

	<div class="container">
		<div class="testimonial-card">

			<!-- imgen client -->
			 <div class="testimonial-image">
				<img src="/src/assets/client-review.jpg" alt="client">
			 </div>

			 <!-- contenido -->
			 <div class="testimonial-content">

				<!-- estrellas -->
				 <div class="stars"> 
					 <img src="/src/assets/estrella.png">
				 </div>

				 <!-- texto -->
				  <p class="testimonial-text">
					Kadence Blocks and Kadence Theme Pro have completely changed my
					business and the way I design websites. I’ve tried several page
					builders and block-based builders, and Kadence, by far, has the
					easiest user interface and functionality. I can easily build and
					style about 99% of web pages without any custom CSS.
				  </p>

				  <!-- PERSONA 5 REFERENCIA -->
				   <div class="author">
						<h4>Lissete Harrington</h4>
						<span>Mila Design Co.</span>
				   </div>
			 </div>
		</div>
	</div>

	<svg width="120" height="120" viewBox="0 0 8 8" fill="currentColor" color="#f1f3f6" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"> <path d="M0 0v3h2c0 1.11-.89 2-2 2v1c1.65 0 3-1.35 3-3v-3h-3zm5 0v3h2c0 1.11-.89 2-2 2v1c1.65 0 3-1.35 3-3v-3h-3z" transform="translate(0 1)"></path></svg>

</section>

<section>
  <Drafts />
</section>

<style>
  .features {
    padding: 120px 0;
    background: #f8f9fc;
  }

  /* header */

  .features-header {
    text-align: center;
    max-width: 900px;
    margin: auto;
    margin-bottom: 60px;
  }

  .features-header h2 {
    font-size: 48px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 20px;
  }

  .features-header p {
    font-size: 18px;
    color: #6b7280;
  }

  /* card */

  .features-card {
    max-width: 1200px;
    margin: auto;
    background: white;
    border-radius: 14px;
    padding: 60px;

    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  }

  /* grid */

  .features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
  }

  /* img */

  .feature-images {
    max-width: 50px;
    width: 80%;
  }

  /* texto */

  .feature {
    margin-bottom: 30px;
  }

  .feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #111827;
  }

  .feature p {
    color: #6b7280;
    line-height: 1.6;
  }

/* card */

.testimonial-card{
  display:grid;
  grid-template-columns:250px 1fr;
  background:white;
  border-radius:10px;

  box-shadow:0 10px 30px rgba(0,0,0,.05);
}

/* imagen */

.testimonial-image img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:10px;
}

/* contenido */

.testimonial-content{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

/* estrellas */

.stars{
  display:flex;
}

.stars img{
  width:150px;
}

/* texto */

.testimonial-text{
  font-size:18px;
  line-height:1.7;
  color:#374151;
  margin-bottom:12px;
}

/* autor */

.author h4{
  font-size:20px;
  font-weight:700;
  color:#111827;
  margin-bottom:4px;
}

.author span{
  font-size:12px;
  color:#6b7280;
}
</style>

