---
import BaseLayout from "../layouts/BaseLayout.astro"
// import Hero from "../components/Hero.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


<BaseLayout>
</BaseLayout>

<section class="features">

	<div class="features-header">
		<h2>Kadence Simplifies The <br> Web Design Process</h2>
		<p>
			Say goodbye to bloated themes, clunky plugins, and limited
			customization options foerever.
		</p>
	</div>

	<div class="features-card">
		<div class="features-grid">

			<!-- imgs -->
			 <div class="features-images">
				<img src="/src/assets/homepage-test.webp">
			 </div>

			 <!-- txt -->
			  <div class="features-text">
				<div class="feature">
					<h3>Lightning-Fast Performance</h3>
					<p>
						Our products have effiecient, clean code that ensures quick loading
						times and smooth performance across all devices types.
					</p>
				</div>

				<div class="feature">
					<h3>Easy to use</h3>
					<p>
						With Kadence Blocks, you can create complex layouts and
						stylish elements directly to the Gutenberg editor.
					</p>

				</div>

				<div class="feature">
					<h3>Endless Customization</h3>
					<p>
						Form advanced header and footer builders to extensive color and
						font settings, Kadence allows for deep customization without
						the need for custom coding.
					</p>
				</div>

			  </div>
		</div>
	</div>
</section>
