---
import BaseLayout from "../layouts/BaseLayout.astro";
import Drafts from "../components/Drafts.astro";
// import Hero from "../components/Hero.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout />

<section class="features">
  <div class="features-header">
    <h2>Kadence Simplifies The <br /> Web Design Process</h2>
    <p>
      Say goodbye to bloated themes, clunky plugins, and limited customization
      options foerever.
    </p>
  </div>

  <div class="features-card">
    <div class="features-grid">
      <!-- imgs -->
      <div class="features-images">
        <img
          src="/src/assets/homepage-test.webp"
          class="feature-img"
          alt="preview"
        />
      </div>

      <!-- txt -->
      <div class="features-text">
        <div class="feature">
          <h3>Lightning-Fast Performance</h3>
          <p>
            Our products have effiecient, clean code that ensures quick loading
            times and smooth performance across all devices types.
          </p>
        </div>

        <div class="feature">
          <h3>Easy to use</h3>
          <p>
            With Kadence Blocks, you can create complex layouts and stylish
            elements directly to the Gutenberg editor.
          </p>
        </div>

        <div class="feature">
          <h3>Endless Customization</h3>
          <p>
            Form advanced header and footer builders to extensive color and font
            settings, Kadence allows for deep customization without the need for
            custom coding.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gris">
  <div class="container">
    <div class="testimonial-container">
      <div class="comilla-1">
        <!-- las comillas -->
        <svg
          width="120"
          height="120"
          viewBox="0 0 8 8"
          fill="currentColor"
          color="#f1f3f6"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
            d="M3 0c-1.65 0-3 1.35-3 3v3h3v-3h-2c0-1.11.89-2 2-2v-1zm5 0c-1.65 0-3 1.35-3 3v3h3v-3h-2c0-1.11.89-2 2-2v-1z"
            transform="translate(0 1)"></path></svg
        >
      </div>

      <div class="testimonial-card comilla-2">
        <!-- imgen client -->
        <div class="testimonial-image">
          <img src="/src/assets/client-review.jpg" alt="client" />
        </div>

        <!-- contenido -->
        <div class="testimonial-content">
          <!-- estrellas -->

          <div class="stars">★★★★★</div>
          <!-- texto -->
          <p class="testimonial-text">
            Kadence Blocks and Kadence Theme Pro have completely changed my
            business and the way I design websites. I’ve tried several page
            builders and block-based builders, and Kadence, by far, has the
            easiest user interface and functionality. I can easily build and
            style about 99% of web pages without any custom CSS.
          </p>

          <!-- PERSONA 5 REFERENCIA -->
          <div class="author">
            <h4>Lissete Harrington</h4>
            <span>Mila Design Co.</span>
          </div>
        </div>
      </div>

      <div class="comilla-3">
        <svg
          width="120"
          height="120"
          viewBox="0 0 8 8"
          fill="currentColor"
          color="#f1f3f6"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
            d="M0 0v3h2c0 1.11-.89 2-2 2v1c1.65 0 3-1.35 3-3v-3h-3zm5 0v3h2c0 1.11-.89 2-2 2v1c1.65 0 3-1.35 3-3v-3h-3z"
            transform="translate(0 1)"></path></svg
        >
      </div>
    </div>
  </div>
</section>

<section>
  <Drafts />
</section>

<section class="cards-slider" style="background-color: #eeeff7;">
  <div class="container">

    <!-- txt cabecera -->
       <div class="header">
        
        <h3>The Features You Need to Transform Your Website</h3>
        <p>Explore the key Kadence features that make customization and performance a breeze.</p>

       </div>
       
    <div class="slider">

       <!-- card slide 1 -->
        <div class="card-slider">

          <!-- img card slider -->
          <div class="card-slider-img">
            <img src="https://www.kadencewp.com/wp-content/uploads/2025/01/Feature-Mega-Menu-Builder-WordPress-Kadence.jpg" />

          </div>

          <!-- content card slider -->
           <div class="card-slider-content">
            <p>HEADERS & FOOTERS</p>

            <h4>Craft custom-looking headers & footers</h4>

            <p>
              Easily design and customize your headers and footers directly in WordPress. Achieve a cohesive, polished look for your site that enhances navigation and reinforces your brand—no coding required!
            </p>

           </div>
        </div>

      <!-- card slide 2 -->
        <div class="card-slider">

          <!-- img card slider -->
          <div class="card-slider-img">
            <img src="https://www.kadencewp.com/wp-content/uploads/2025/01/Feature-Global-Fonts-Color-Settings-Kadence-1024x768.jpg"/>

          </div>

          <!-- content card slider -->
           <div class="card-slider-content">
            <p>GLOBAL SETTINGS</p>

            <h4>Effortless sitewide design controls</h4>

            <p>
              Control fonts, colors, and spacing sitewide with our global theme settings. Make quick, consistent updates across every page—perfect for keeping your branding sharp and your workflow efficient.
            </p>

           </div>
        </div>

      <!-- card slide 3 -->
        <div class="card-slider">

          <!-- img card slider -->
          <div class="card-slider-img">
            <img src="https://www.kadencewp.com/wp-content/uploads/2025/01/Feature-AB-Testing-WordPress-Kadence-1024x768.jpg" />


          </div>

          <!-- content card slider -->
           <div class="card-slider-content">
            <p>A/B TESTING</p>

            <h4>Optimize your site with data-driven insights</h4>

            <p>
              Test, track, and optimize headlines, buttons, and layouts right inside WordPress. See real-time results and make confident tweaks that boost conversions—no extra tools or guesswork needed!
            </p>

           </div>
        </div>
        
      <!-- card slide 4 -->
        <div class="card-slider">

          <!-- img card slider -->
          <div class="card-slider-img">
            <img src="https://www.kadencewp.com/wp-content/uploads/2025/01/Feature-Forms-Kadence-scaled-1-1024x768.jpg" />

          </div>

          <!-- content card slider -->
           <div class="card-slider-content">
            <p>FORMS</p>

            <h4>Build powerful, flexible forms</h4>

            <p>
              Create beautiful, high-converting forms without relying on third-party plugins. From lead capture to surveys, design forms tailored to your needs—all seamlessly integrated into your site.
            </p>

           </div>
        </div>

        <!-- card slide 5 -->
        <div class="card-slider">

          <!-- img card slider -->
          <div class="card-slider-img">
            <img src="https://www.kadencewp.com/wp-content/uploads/2025/01/Feature-Dynamic-Content-Kadence-scaled-1-1024x768.jpg" />

          </div>

          <!-- content card slider -->
           <div class="card-slider-content">
            <p>Personalize every experience on your site</p>

            <h4>Optimize your site with data-driven insights</h4>

            <p>
              Display dynamic content that adapts to your audience. Showcase relevant products, user-specific greetings, or tailored offers to keep visitors engaged and coming back for more.
            </p>

           </div>
        </div>

        <!-- card slide 6 -->
        <div class="card-slider">

          <!-- img card slider -->
          <div class="card-slider-img">
            <img src="https://www.kadencewp.com/wp-content/uploads/2025/01/Feature-Popup-Builder-Kadence-scaled-1-1024x768.jpg" />

          </div>

          <!-- content card slider -->
           <div class="card-slider-content">
            <p>DYNAMIC CONTENT</p>

            <h4>Personalize every experience on your site</h4>

            <p>
              Display dynamic content that adapts to your audience. Showcase relevant products, user-specific greetings, or tailored offers to keep visitors engaged and coming back for more.
            </p>

           </div>
        </div>

        <!-- card slide 7 -->
        <div class="card-slider">

          <!-- img card slider -->
          <div class="card-slider-img">
            <img src="https://www.kadencewp.com/wp-content/uploads/2025/01/Feature-WooCommerce-Shopkit-scaled-1-1024x768.jpg"/>

          </div>

          <!-- content card slider -->
           <div class="card-slider-content">
            <p>E-COMMERCE TOOLS</p>

            <h4>Easily customize your WooCommerce store</h4>

            <p>
              Tailor your WooCommerce shop to fit your unique needs with ShopKit. From product displays to checkout flows, create a seamless shopping experience that converts browsers into buyers.
            </p>

           </div>
        </div>

    </div>

  </div>

</section>

<style>
  .stars {
    color: #fab200;
    font-size: 40px;
    padding-left: 1.1rem;
  }

  .gris {
    background-color: #f7f8fb;
    width: 100%;
  }

  .features {
    padding: 120px 0;
    background: #f8f9fc;
  }

  /* header */

  .features-header {
    text-align: center;
    max-width: 900px;
    margin: auto;
    margin-bottom: 60px;
  }

  .features-header h2 {
    font-size: 48px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 20px;
  }

  .features-header p {
    font-size: 18px;
    color: #6b7280;
  }

  /* card */

  .features-card {
    max-width: 1200px;
    margin: auto;
    background: white;
    border-radius: 14px;
    padding: 60px;

    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  }

  /* grid */

  .features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
  }

  /* img */

  .feature-images {
    max-width: 50px;
    width: 80%;
  }

  /* texto */

  .feature {
    margin-bottom: 30px;
  }

  .feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #111827;
  }

  .feature p {
    color: #6b7280;
    line-height: 1.6;
  }

  .testimonial-card {
    display: grid;
    grid-template-columns: 250px 1fr;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  }

  /* imagen */
  .testimonial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  /* contenido */
  .testimonial-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* texto */
  .testimonial-text {
    font-size: 18px;
    line-height: 1.7;
    color: #374151;
    padding: 1.5rem;
    padding-bottom: 0;
    padding-top: 0;
  }

  /* autor */
  .author h4 {
    font-size: 20px;
    font-weight: 700;
    color: #111827;
    padding-left: 1.5rem;
    margin: 0;
    padding-bottom: 0;
  }

  .author span {
    margin: 0;
    font-size: 12px;
    padding-left: 1.5rem;
    color: #6b7280;
  }

  /* containers */
  .testimonial-container {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fc;
    padding-bottom: 7rem;
  }

  .comilla-1 {
    width: 10%;
  }

  .comilla-2 {
    width: 70%;
  }

  .comilla-3 {
    display: flex;
    width: 10%;
    flex-direction: column;
    justify-content: flex-end;
  }

/* cards slider style */

.cards-slider{
  background: #eeeff7;
}
.card-slider{
  background:#fff;
  padding:120px 0;
}

/* header */

.header{
  max-width: 100%;
  margin-bottom:60px;
}

.header h3{
  font-size: 3rem;
  font-weight:700;
  color:#1c2d43;
  margin: 0;

  padding-top: 5rem;
  line-height:1.2;

  width: 50%;
}

.header p{
  font-size: 1rem;
  color:#1c2d43ca;
}

/* GRID CARDS */

.slider{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
}

/* CARD */

.card-slider{
  background:#f9fafb;
  border-radius:12px;
  overflow:hidden;
  padding:20px;

  transition:transform .25s ease, box-shadow .25s ease;
}

/* hover suave como kadence */

.card-slider:hover {
  transform:translateY(-4px);
  box-shadow:0 12px 30px rgba(0,0,0,.08);
}

/* imagen */

.card-slider-img img{
  width:100%;
  border-radius:8px;
  margin-bottom:20px;
}

/* contenido */

.card-slider-content p:first-child{
  font-size:12px;
  letter-spacing:.08em;
  text-transform:uppercase;
  color:#6b7280;
  margin-bottom:10px;
}

.card-slider-content h4{
  font-size:22px;
  font-weight:700;
  margin-bottom:12px;
  color:#111827;
}

.card-slider-content p:last-child{
  font-size:15px;
  color:#6b7280;
  line-height:1.6;
}
</style>
