---
import Layout from "../layouts/Layout.astro";
---

<Layout>

  <section class="blog">
    <h1 class="title">OLA K ASE</h1>
  </section>

</Layout>

<style>
.blog{
  display:flex;
  justify-content:center;
  align-items:center;

  padding-top:80px; /* separacion del navbar */
  padding-bottom:80px;
}

.title{
  color:white;
  font-size:48px;
  font-weight:700;
  text-align:center;
}
</style>