---
import Layout from "../layouts/Layout.astro";
---

<Layout>

  <section class="header">
    <h1 class="title">Productos</h1>
  </section>

</Layout>

<style>
.header{
  display:flex;
  justify-content:center;
  align-items:center;

  padding-top:80px; /* separacion del navbar */
  padding-bottom:80px;
}

.title{
  color:white;
  font-size:48px;
  font-weight:700;
  text-align:center;
}
</style>