---

---

<nav class="navbar">
    <div class="container">

        <div class="logo">
            <img src="/src/assets/logo.webp" alt="kadence" />
        </div>

        <ul class="menu">
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Kadence AI</a></li>
            <li><a href="#">Starter Templates</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Support</a></li>
        </ul>

        <div class="actions">
            <a href="#" class="login">Account</a>
            <a href="#" class="btn">Get Started</a>
        </div>

    </div>
</nav>

<style>
.navbar{
  padding:16px 0;
  border-bottom:1px solid #eee;
}

.container{
  max-width:1350px; /* aqui podria ser el 100% */
  margin:auto;

  display:grid;
  grid-template-columns: auto 1fr auto;
  align-items:center;
}

.logo img{
  max-width:240px;
}

.menu{
  display:flex;
  justify-content:center;
  gap:30px;
  list-style:none;
  margin:0;
  padding:0;
}

.menu a{
  text-decoration:none;
  color:#fff;
  font-weight:400;
  font-size:97%;
}

.actions{
  display:flex;
  justify-content:flex-end;
  gap:20px;
  align-items:center;
}

.login{
  text-decoration:none;
  color: #fff;
  size: 97%;
}

.btn{
  background:#000000;
  color:white;
  padding:10px 25px;
  border-radius:3px;
  text-decoration:none;
}
</style>