---

---

<nav class="navbar">
    <div class="container">

        <div class="logo">
            <img src="/src/assets/logo.webp" alt="kadence" class="logo" />
        </div>

        <ul class="menu">
            <li> <a href="#">Features</a> </li>
            <li> <a href="#">Starter Templates</a> </li>
            <li> <a href="#">Pricing</a> </li>
            <li> <a href="#">Resources</a> </li>
        </ul>

        <div class="actions">
            <a href="#" class="login">Login</a>
            <a href="#" class="btn">Get Started</a>
        </div>

    </div>
</nav>

<style>

.logo{
    max-width:160px;
}
.navbar{
  padding:16px 0;
  border-bottom:1px solid #eee;
  background:rgba(255, 255, 255, 0);
}

.container{
  max-width:1200px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.menu{
  display:flex;
  gap:28px;
  list-style:none;
}

.menu a{
  text-decoration:none;
  color:#333;
  font-weight:500;
}

.actions{
  display:flex;
  gap:16px;
  align-items:center;
}

.btn{
  background:#635bff;
  color:white;
  padding:10px 18px;
  border-radius:8px;
  text-decoration:none;
}
</style>