---

---

<nav class="navbar">
  <div class="container">
    <a href="/" class="logo">
      <img
        src="/src/assets/aguayoLogoWhite.png"
        alt="AguayosLogoA"
        class="logoA"
      />
      <img
        src="/src/assets/logoTextWhite.png"
        alt="aguayoLogo"
        class="logoTexto"
      />
    </a>

    <ul class="menu">
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/productos">Productos</a></li>
      <li><a href="/contacto">Contacto</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/cotiza">Mis Cotizaciones</a></li>
    </ul>

    <div class="actions">
      <!-- <a href="/account" class="login">Iniciar Sesion</a> -->
      <a href="/get-started" class="btn">Cotizar Ahora</a>
    </div>
  </div>
</nav>

<style>
  .logoA {
    padding-left: 7px;
  }

  .logoTexto {
    padding-left: 1rem;
  }

  .navbar {
    padding: 26px 0;
    background: transparent;
  }

  .container {
    max-width: 1350px; /* aqui podria ser el 100% */
    margin: auto;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .logo img {
    max-width: 240px;
  }

  .menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 97%;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
  }

  .login {
    text-decoration: none;
    color: #fff;
    size: 97%;
  }

  .btn {
    background: #000000;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
  }
</style>
