---

---

<section class="featured-articles">
    <div class="container">

        <div class="title-articles">
            <h2>Featured Articles</h2>
        </div>

        <div class="cards-articles">
            
            <a href="#">
                <div class="card-article">
                    
                    <div class="image-article">
                        <img src="">
                    </div>
    
                    <div class="entry-text">
                        <div class="title-article">
                            <h3>#1 WordPress Page Builder for Accessibility: Kadence Updates You Need to Know</h3>
                        </div>

                        <div class="content-article">
                            <p>At Kadence, accessibility isn’t just a checklist, it’s a core part of how we design our products. We want every…</p>
                        </div>
                    </div>
    
                </div>
            </a>


        </div>

    </div>

</section>