---

---


<section class="help-section">

  <!-- contenido superior de la seccion -->
  <div class="container">

    <div class="top-help-content">

      <h3>We’ll help you get started</h3>

      <p>With access to detailed documentation, regular training sessions, and a responsive support team, you can be confident that you’re fully supported as you build, customize, and maintain a professional-quality website.</p>
      
    </div>

    <!-- contenido inferior de la seccion -->
    <div class="bottom-help-content">

      <!-- primera card -->
      <div class="bottom-help-card">

        <div class="image-card">
          <img src="https://www.kadencewp.com/wp-content/uploads/2024/07/Kadence-Support-1024x683.jpg" alt="Kadence offers friendly personal support"/>
        </div>

        <div class="content-card">

          <h4>Fast, helpful support</h4>

          <p>Your success is our success. Our support team goes above and beyond to help, earning praise from customers as the “best they’ve ever received.”</p>

        </div>

        <div class="button-card">
          <a href="#">

            <span>
              Submit a ticket
            </span>

            <svg 
              viewBox="0 0 24 24" 
              width="20"
              height="20"
              fill="none" 
              stroke="currentColor" 
              color="#000"
              stroke-width="2" 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              xmlns="http://www.w3.org/2000/svg" 
              aria-hidden="true">
              <line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a>
        </div>

      </div>

      <!-- segunda card -->
       <div class="bottom-help-card">

        <div class="image-card">
          <img src="https://www.kadencewp.com/wp-content/uploads/2024/07/Kadence-Tutorials-Documentation.jpg" alt="Kadence offers friendly personal support"/>
        </div>

        <div class="content-card">

          <h4>Tutorials & Documentation</h4>

          <p>Access answers anytime about setup, settings, and advanced use cases to make the most of Kadence products.</p>

        </div>

        <div class="button-card">
          <a href="#">

            <span>
              Help center
            </span>

            <svg 
              viewBox="0 0 24 24" 
              width="20"
              height="20"
              fill="none" 
              stroke="currentColor" 
              color="#000"
              stroke-width="2" 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              xmlns="http://www.w3.org/2000/svg" 
              aria-hidden="true">
              <line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a>
        </div>
        
      </div>

      <!-- tercera card -->
       <div class="bottom-help-card">

        <div class="image-card">
          <img src="https://www.kadencewp.com/wp-content/uploads/2024/07/Kadence-Community.jpg" alt="Kadence offers friendly personal support"/>
        </div>

        <div class="content-card">

          <h4>Community – 15k Active Members</h4>

          <p>Join a thriving group of Kadence users, from beginners to pros. Get quick solutions, share tips, and learn from others in our supportive community.</p>

        </div>

        <div class="button-card">
          <a href="#">

            <span>
              Join our active community
            </span>

            <svg 
              viewBox="0 0 24 24" 
              width="20"
              height="20"
              fill="none" 
              stroke="currentColor" 
              color="#000"
              stroke-width="2" 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              xmlns="http://www.w3.org/2000/svg" 
              aria-hidden="true">
              <line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a>
        </div>
        
      </div>

      <!-- cuarta card -->
       <div class="bottom-help-card">

        <div class="image-card">
          <img src="https://www.kadencewp.com/wp-content/uploads/2024/07/Kadence-Marketplace.jpg" alt="Kadence offers friendly personal support"/>
        </div>

        <div class="content-card">

          <h4>Marketplace</h4>

          <p>Discover resources to power your project, including niche themes, starter templates, prebuilt design libraries, and Kadence experts for hire.</p>

        </div>

        <div class="button-card">
          <a href="#">

            <span>
              Browse
            </span>

            <svg 
              viewBox="0 0 24 24" 
              width="20"
              height="20"
              fill="none" 
              stroke="currentColor" 
              color="#000"
              stroke-width="2" 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              xmlns="http://www.w3.org/2000/svg" 
              aria-hidden="true">
              <line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a>
        </div>
        
      </div>

    </div>

  </div>
</section>