<div class="full-gray">
<div class="box">
  <div class="box-container">
    <h3>400k+ websites</h3>
    <p>BUILT WITH KADENCE</p>
  </div>

  <div class="box-container">
    <h3>4.9 star</h3>
    <p>USER RATING</p>
  </div>

  <div class="box-container">
    <h3>#1Rated for</h3>
    <p>WEB ACCESSIBILITY</p>
  </div>

  <div class="box-container">
    <h3>Free and Pro</h3>
    <p>PLANS AVAILABLE</p>
  </div>
</div>
</div>
