---
import Navbar from "../components/navbar/Navbar.astro"
import "../styles/global.css"
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Kadence Clone</title>
    </head>
    
    <body>
        <Navbar/>

        <slot/>
    </body>
</html>