---
import Navbar from "../components/navbar/Navbar.astro"
import "../styles/global.css"
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Kadence Clone</title>
    </head>
    
    <body>

        <div class="hero-wrapper">
            <Navbar/>
    
            <slot/>

        </div>
    </body>
</html>


<style>
.hero-wrapper{
  min-height:85vh;

  background: linear-gradient(
    180deg,
    #2973e6 0%,
    #1f5abd 40%,
    #154195 100%
  );
}
</style>