---
import Navbar from "../components/navbar/Navbar.astro"
import GradientPatternWrapper from "../components/ui/GradientPatternWrapper.astro"
import "../styles/global.css"
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Kadence Clone</title>
    </head>

	<GradientPatternWrapper height="30vh">
	<Navbar/>
	<slot />
	</GradientPatternWrapper>

</html>