---
import pattern from "../../assets/hero-bg.png"
const { height = "85vh" } = Astro.props
---

<div
  class="gradient-wrapper"
  style={`--pattern:url(${pattern.src}); --height:${height};`}
>
  <slot />
</div>

<style>
.gradient-wrapper{
  position:relative;
  min-height:var(--height);

  background: linear-gradient(
    180deg,
    #2973e6 0%,
    #1f5abd 80%,
    #154195 100%
  );
}

/* pattern */
.gradient-wrapper::before{
  content:"";
  position:absolute;
  inset:0;

  background-image:var(--pattern);
  background-repeat:repeat;
  background-size:auto;

  opacity:.15;

  pointer-events:none;
  z-index:0;
}

/* contenido encima */
.gradient-wrapper > *{
  position:relative;
  z-index:1;
}
</style>
