---
import pattern from "../../assets/hero-bg.png";
const { height = "85vh" } = Astro.props;
---

<div
  class="gradient-wrapper"
  style={`--pattern:url(${pattern.src}); --height:${height};`}
>
  <slot />
</div>

<style>
  .gradient-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    min-height: var(--height);

    background: linear-gradient(
      90deg,
      #2a4463 0%,
      #223a56 35%,
      #1c2d43 70%,
      #162536 100%
    );
  }

  /* pattern */
  .gradient-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: var(--pattern);
    background-repeat: repeat;
    background-size: auto;

    opacity: 0.15;

    pointer-events: none;
    z-index: 0;
  }

  /* contenido encima */
  .gradient-wrapper > * {
    position: relative;
    z-index: 1;
  }
</style>
